/* --- VARIABLES --- */
:root {
    --green: #c9f812;
    --black: #1a1a1a;
    --white: #ffffff;
    --charcoal: #464a5e;
   }

/*--- FONTS ---*/
@font-face {
    font-family: 'Bebas Neue Pro';
    font-style: normal;
    font-weight: bold;
    src: url('/public/fonts/BebasNeuePro-BoldItalic/BebasNeuePro-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Aktiv Grotesk Corp';
    font-style: normal;
    font-weight: normal;
    src: url('/public/fonts/AktivGroteskCorp-Italic/font.ttf') format('truetype');
}

/* --- RESETS --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    height: 100%;
    overflow-x: hidden;
    background-color: #1a1a1a;
    font-family: 'Bebas Neue Pro';
  }

  /* --- FORM --- */
  .form-container {
    padding: 0px 54px;
  }

  .back-button {
    background-color: transparent;
    border: none;
    color: var(--green);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1.2rem;
  }
  
  .back-button i {
    margin-right: 0.5rem;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }
  
  .form-para,
  .form-name-wrap,
  .form-lname-wrap,
  .form-number-wrap,
  .form-email-wrap,
  .form-password-wrap
   {
    display: grid;
    margin-bottom: 40px;
    font-family: 'Bebas Neue Pro';
    color: #ffffff;
    text-align: center;
  }

  .form-button-wrap {
    display: flex;
    justify-content: center;
  }

  .form-para {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  input[type="text"],[type="email"],[type="password"]  {
    font-family: 'Aktiv Grotesk Corp';
    font-size: 18px;
    color: #ffffff;
    padding: 2px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--green);
    background-color: transparent;
    padding: 10px;
  }

  button[type="submit"] {
    background-color: var(--green);
    border-radius: 3px;
    border: none;
    padding: 4px 30px;
    margin-top: 65px;
    font-family: 'Bebas Neue Pro';
    font-size: 28px;
    text-decoration: none;
    color: #1a1a1a;
  }

input#terms[type="checkbox"] {
  border: 2px solid var(--green);
  background-color: transparent;
}
  
.check-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.checkbox-design {
    display: none;
      }
      
      .checkbox-design + label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #c9f812;
        background-color: transparent;
        margin-right: 10px;
        position: relative;
        top: 4px;
      }
      .checkbox-design:checked + label:before {
        content: "\2713"; /* use tick icon */
        font-size: 12px;
        color: white;
        text-align: center;
        line-height: 18px;
        position: relative;
        top: -2px;
      }
      

  .form-terms-wrap,
  .form-privacy-wrap {
    color: #ffffff;
    font-size: 18px;
  }

  .form-terms-wrap label,
  .form-privacy-wrap label {
    margin-left: 10px;
}

/* --- || MEDIA QUERIES FOR LARGER SCREENS --- */
@media (min-width: 750px) {
    .form-wrap {
        display: grid;
        padding: 0px 50px;
    }
    .form-button-wrap {
        display: flex;
        justify-content: center;
      }
  }
 