
.checkin-container {
  display: grid;
  padding: 0 20px 0 20px;
  height: 680px;
}

.check-in-input {
  padding: 5px;
  background-color: var(--black);
  color: var(--white);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This will turn the icon white */
}

/* Calendar icon for Mozilla-based browsers (e.g., Firefox) */
input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(1); /* This will turn the icon white */
}

.check-in label {
  font-weight: bold;
  margin-bottom: 12px;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.radio-button-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio-button-label input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.radio-button-label .radio-button-custom {
  display: inline-block;
  border: 1px solid var(--green);
  border-radius: 50%;
  width: 22px; 
  height: 22px; 
  line-height: 20px; 
  text-align: center; 
  cursor: pointer;
}

.radio-button-custom {
  padding: 0px;
}

.radio-button-label input[type="radio"]:checked + .radio-button-custom {
  background-color: var(--green);
  color: var(--black);
}

.check-in-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.check-in-btn.disabled {
  opacity: 0.6; 
  cursor: not-allowed; 
}
