.check-in {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.check-in h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.check-in label {
  font-weight: bold;
  margin-bottom: 5px;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.radio-group label {
  margin-right: 10px;
}





/* 
.daily-checkin-container {
    padding: 20px;
}

.option-container {
    display: flex;
    justify-content: space-between;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .option input[type="radio"] {
    display: none;
  }
  
  .option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eaeaea;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .option input[type="radio"]:checked + span {
    background-color: var(--green);
    color: #333;
  }
   */