/* --- VARIABLES --- */
:root {
    --green: #c9f812;
    --black: #1a1a1a;
    --white: #ffffff;
    --charcoal: #464a5e;
   }

/*--- FONTS ---*/
@font-face {
    font-family: 'Bebas Neue Pro';
    font-style: normal;
    font-weight: bold;
    src: url('/public/fonts/BebasNeuePro-BoldItalic/BebasNeuePro-BoldItalic.ttf') format('truetype');
  }

/* --- RESETS --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    height: 100%;
    overflow-x: hidden;
    background-color: #1a1a1a;
    font-family: 'Bebas Neue Pro';
  }

  .landing-container {
    display: grid;
    justify-content: center;
    padding: 140px 0px 0px 0px;
  }

  /* --- LANDING-LOGO --- */
  .landing-logo {
    height: 350px;
  }

  .button-wrap,
  .login-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .landing-button {
    background-color: var(--green);
    border-radius: 3px;
    border: none;
    padding: 12px 30px;
    margin-top: 30px;
    font-family: 'Bebas Neue Pro';
    font-size: 32px;
    text-decoration: none;
    color: #1a1a1a;
  }

  .login-button {
    color: var(--white);
    font-size: 30px;
    margin-top: 20px;
    border: none;
    text-decoration: none;
    font-family: 'Bebas Neue Pro';
    cursor: pointer;
    background: transparent;
}

/* --- || MEDIA QUERIES FOR LARGER SCREENS --- */
@media (min-width: 750px) {
  .landing-logo {
    background-repeat: no-repeat;
  }
}