
/* --- LANDING-LOGO --- */
  .landing-logo {
    display: flex;
    justify-content: center;
    height: 60%;
    margin-top: 70px;
  }

  .button-wrap,
  .login-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .landing-button {
    background-color: var(--green);
    border-radius: 3px;
    border: none;
    padding: 12px 30px;
    margin-top: 30px;
    font-family: 'Bebas Neue Pro';
    font-size: 26px;
    text-decoration: none;
    color: #1a1a1a;
  }

  .login-button {
    color: var(--white);
    font-size: 30px;
    margin-top: 20px;
    border: none;
    text-decoration: none;
    font-family: 'Bebas Neue Pro';
    cursor: pointer;
    background: transparent;
}

