
.dash-board h2 {
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* .grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    color: #ffffff;
} */

.dash-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
    padding: 20px;
}

 .workout-details {
    background-color: rgba(255, 255, 255, 0.1);
    /* border-bottom: 1px solid var(--green);
    border-right: 1px solid var(--green); */
    border-radius: 4px;
    margin: 20px auto;
    position: relative;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(201,248,18,0.8);
}

.workout-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--white)
}

.workout-details p {
    margin: 0;
    font-size: 1.2em;
    color: #d2e2ed;
}

.workout-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 50%;
    color: #333; 
}

/* .grid-wrap h3 {
    color: var(--white);
}

.workouts {
    font-size: 20px;
    line-height: 32px;
} */

/* --- new workout form --- */
label, input {
    display: block;
}

label, .create h3 {
    color: var(--white);
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid var(--green);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Aktiv Grotesk Corp';
}

form button {
    background-color: var(--green);
    border: 0;
    color: #1a1a1a;
    padding: 10px;
    font-family: 'Bebas Neue Pro';
    border-radius: 4px;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--green);
    color: #9d0505;
    border-radius: 4px;
    margin: 20px 0;
}