.container-home, 
.container-plans, 
.container-progress, 
.container-workouts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dashbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 30px;
  }
  
  .dashbar-header {
    display: flex;
    justify-content: center;
    
  }

  .dashbar-email {
    display:flex;
    justify-content: flex-end;
  }

  .dashbar-container button {
    margin-left: 1rem;
  }
  

.dash-board {
    display: grid;
    align-items: center;
}

.dash-board h2 {
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.dash-container {
    display: grid;
    grid-template-columns: .8fr .8fr;
    justify-items: center;
    gap: 15px;
    margin-top: 50px;
    padding: 0 30px 45px 20px;
    
}

.dash-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green);
    border-radius: 8px;
    width: 160px;
    height: 160px;

}

.icon {
    width: 70px;
    height: 70px; 

}

.icons {
    width: 50px;
    height: 50px;
}

.dash-section-title {
    margin-top: 10px;
    text-align: center;
    color: var(--white);
    font-size: x-large;
}


.dash-menu-section {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 30px;
    background-color: #1a1a1a;
    width: 100%;
}
 
@media (min-width: 750px) {

      /* --- DASH CONTAINER --- */
      .dash-container {
        display: grid;
        grid-template-columns: .8fr .8fr .8fr;
        justify-items: center;
        margin-top: 100px;
        padding: 0 35px 0 17px;    
    }

    .dash-menu-section {
      display: grid;
      justify-content: center;
      width: 100%;
    }
}